.ms-multi-select {
    list-style: none;
}

.ms-top-right-align {
    float: right;
    vertical-align: top;
}

.ms-practice-logo {
    background-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' height='20' viewBox='0 0 220.000000 250.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,272.000000) scale(0.100000,-0.100000)' fill='%23000000' stroke='none'%3E%3Cpath d='M1015 2618 c-53 -17 -93 -38 -122 -61 -15 -13 -50 -34 -77 -47 -60 -31 -175 -143 -210 -205 -14 -26 -26 -49 -26 -51 0 -2 43 -5 96 -6 l97 -3 14 -50 c8 -27 26 -64 39 -82 13 -17 24 -34 24 -37 0 -3 -69 -6 -153 -6 -167 0 -177 -3 -177 -54 0 -33 23 -157 35 -191 16 -46 51 -113 79 -150 38 -51 123 -133 146 -140 10 -3 21 -12 24 -20 4 -13 -13 -15 -112 -15 -64 0 -123 -4 -130 -9 -27 -17 25 -172 91 -271 59 -89 154 -169 237 -199 19 -7 44 -17 55 -21 73 -31 286 -40 365 -16 78 24 134 48 177 78 127 86 241 266 247 393 l1 30 -70 6 c-38 4 -116 7 -173 8 -57 0 -102 5 -100 10 2 4 31 32 66 60 113 94 187 233 202 381 13 123 16 120 -155 120 -98 0 -145 4 -145 11 0 6 8 23 19 37 10 15 24 45 32 67 21 63 24 65 110 65 43 0 80 4 83 8 3 5 -13 36 -35 70 -43 66 -122 142 -179 172 -19 10 -53 32 -74 49 -89 71 -212 99 -301 69z m178 -103 c69 -29 131 -111 144 -190 13 -79 -37 -182 -110 -231 -37 -24 -52 -28 -122 -28 -102 0 -149 23 -202 99 -75 110 -41 257 79 332 44 28 61 33 114 33 34 0 78 -7 97 -15z'/%3E%3Cpath d='M1053 2393 c-41 -20 -66 -72 -58 -115 12 -60 47 -88 113 -88 109 0 137 163 34 205 -42 18 -48 18 -89 -2z'/%3E%3Cpath d='M343 1440 c-101 -50 -180 -141 -222 -257 -38 -107 -42 -171 -39 -648 l3 -460 1015 0 1015 0 3 455 c3 475 0 536 -40 655 -29 86 -92 172 -166 223 l-62 43 -14 -33 c-8 -18 -20 -53 -27 -78 -23 -84 -88 -196 -152 -263 -116 -122 -247 -190 -416 -218 l-73 -12 5 -33 c4 -23 29 -60 81 -118 87 -98 106 -137 106 -215 0 -210 -256 -347 -502 -270 l-67 21 -45 -22 c-32 -15 -55 -20 -76 -15 -44 10 -88 51 -101 95 -31 103 101 197 188 134 15 -11 38 -40 50 -64 29 -56 69 -72 188 -73 107 -1 161 19 224 82 30 30 41 50 46 85 10 65 -7 102 -86 185 -72 76 -99 123 -99 171 0 36 -17 49 -81 60 -58 9 -77 15 -124 35 -17 8 -41 18 -55 23 -42 16 -145 99 -192 154 -75 90 -123 186 -157 318 -15 56 -20 65 -41 67 -14 2 -53 -11 -87 -27z'/%3E%3C/g%3E%3C/svg%3E");
}

.aui-item.right{
    text-align: right;
}
.aui-item.flex{
    display: flex;
}

#practice-mapping-manager-table{
    margin-top: 30px;
}

table .practice-id{
    margin: 0 7px;
}

table .practice-row .practice-edit-button{
    opacity: 0;
}

table .practice-row:hover .practice-edit-button{
    opacity: 1;
    transition: .5s;
    cursor: pointer;
}

table .view-practice-flagged{
    margin-right: 7px;
}

.practice-pagination{
    margin-top:20px;
}

h2{
    margin-bottom: 20px;
}

#practice-issue-panel-content ul{
    padding-left:0;
}

